@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Roboto&family=Ubuntu&display=swap");
/* to change chrome inbuilt css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-weight: 500;
  line-height: 1.5;
  background-color: #0f0f0f;
  font-family: "Roboto", sans-serif;
  color: #fff;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* to make all icon same     */
.icon {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 15px;

  font-size: 0.7rem;
}

svg {
  fill: #fff;
  margin-bottom: 10px;
}
/* main container */
.container {
  display: flex;
  flex-direction: row;
}
/* to make side menu */
.side-menu {
  width: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.side-menu .icon {
  width: 100%;
  height: 70px;
  margin: 0;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
.icon i {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}
.side-menu .icon:hover {
  background-color: #272727;

  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.guide i {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}
.round {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;

  padding: 0 5px 3px;

  align-items: end;
  margin-top: 8px;
  transition: 0.2s ease-in-out;
}
.round:hover {
  background-color: #272727;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
/* main-container that takes nav-bar and thumbnails */
.main-conainer {
  width: 100%;
}

/* to make nav-bar */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -5px;
  min-width: 100%;
}
.nav-logo {
  position: relative;
  cursor: pointer;
  width: 6em;
}
.nav-logo div p {
  position: absolute;
  top: -5px;
  right: -15px;
  font-size: 0.7rem;
  color: #aaaaaa;
}
.center-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2e2e2e;
  border-radius: 70px;
  overflow: hidden;
  height: 40px;
  background-color: #121212;
}
.search input {
  background-color: #121212;
  min-width: 556px;
  height: 100%;
  padding-left: 15px;
  font-size: 1rem;
  border: none;
  color: #fff;

  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  caret-color: #fff;
}
.search input:focus {
  outline-color: #0a5bc5;
}
.search input::placeholder {
  color: #ccc;
}
.search-ic {
  height: 100%;
  padding: 6px 20px;
  background-color: #222222;
  border-left: 1px solid #2e2e2e;
  cursor: pointer;
}
.mic {
  background-color: #141414;
  width: 40px;
  height: 40px;
  padding: 5px 10px 3px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}
.mic:hover {
  background-color: #272727;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.right-nav {
  display: flex;
  margin-right: 20px;
  align-items: center;
  gap: 10px;
}
div.responsive-search {
  display: none;
}
.avatar img {
  border-radius: 100%;
}
.avatar img:hover {
  cursor: pointer;
}
.r-icon {
  width: 40px;
  height: 40px;
  padding: 10px 10px 3px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}
.r-icon:hover {
  background-color: #272727;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

/* to make recomandation under nav-bar */
.recomandation {
  margin: 10px 20px;
  display: flex;
  gap: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
.light,
.dark {
  background-color: #f1f1f1;
  color: #141414;
  border-radius: 10px;
  padding: 5px 10px;
  display: grid;
  font-size: 0.9rem;
  place-items: center;
  transition: 0.2s ease-in-out;
}
.dark {
  background-color: #222222;
  color: #f1f1f1;
}
.dark:hover {
  background-color: #3f3f3f;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.light:hover {
  background-color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.explore {
  display: none;
}
/* thumbnail */

.thambnails {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 10px;
  padding: 24px 100px;
}
.tmn-content {
  cursor: pointer;
  width: 100%;
}

.tmn-img {
  overflow: hidden;
}

.tmn-img img {
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  width: 100%;
}
.tmn-img img:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.tmn-avatar {
  margin-top: 6px;
  display: flex;
  gap: 10px;
}
.avatar-img img {
  border-radius: 100%;
  width: 35px;
}
.tmn-heading {
  font-size: 1.1rem;
  text-transform: capitalize;
}
.tmn-detail {
  font-size: 0.9rem;
  color: #aaaaaa;
}
.tmn-detail:hover :nth-child(1) {
  color: #fff;
}
.dot {
  display: flex;
  align-items: center;
}
.dot svg {
  visibility: hidden;
}
.tmn-heading:hover svg {
  visibility: visible;
}

/* media-queries */
@media screen and (max-width: 700px) {
  .nav-bar {
    margin: 10px 5px;
  }
  .center-nav {
    display: none;
  }
  .side-menu {
    position: fixed;
    bottom: 0;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    z-index: 1;
     border-top: 1px solid #222222;
    
  }
  .side-menu .guide {
    display: none;
  }
  .side-menu .icon{
    margin-top: 5px;
  }

  .recomandation {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 35px;
    margin: 5px;
    margin-bottom: -20px;
  }

  .thambnails {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px 10px;
    padding: 24px 0;
    
    line-height: 1;
    margin-bottom: 50px;

  }
  .tmn-img img {
    transform: scale(1.1);
  }
  .tmn-img {
    overflow: visible;
    padding: 10px 0;
  }
  .tmn-avatar {
    margin-top: 10px;
  }
  .avatar-img img {
    width: 35px;
    margin-left: 16px;
      margin-right: 3px;
  }
  .tmn-heading {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
  }
  .tmn-detail {
    margin-top: 3px;
    display: flex;
    gap: 10px;
  }
  .right-nav {
    margin-right: 0px;
  }

  .dot svg {
    visibility: visible;
    margin-top: -20px;
    width: 30px !important;
        height: 20px !important;
  }
  .newvideo {
    display: none;
  }

  div.responsive-search {
    display: initial;
  }
  .explore {
    display: initial;
    border-radius: 5px;
  }
}
